<svg width="1000" height="1000">

  <rect width="80" height="80" 
    x="0" 
    y="0"
    style="fill:rgb(118, 124, 132)" 
    />

  <rect width="80" height="80" 
    x="100" 
    y="0"
    style="fill:rgb(47, 44, 41)" 
    />

  <rect width="80" height="80" 
    x="200" 
    y="0"
    style="fill:rgb(138, 129, 124)" 
    />

  <rect width="80" height="80" 
    x="300" 
    y="0"
    style="fill:rgb(217, 226, 238)" 
    />

  <rect width="80" height="80" 
    x="400" 
    y="0"
    style="fill:rgb(50, 45, 33)" 
    />

  <rect width="80" height="80" 
    x="500" 
    y="0"
    style="fill:rgb(36, 40, 46)" 
    />

  <rect width="80" height="80" 
    x="600" 
    y="0"
    style="fill:rgb(90, 81, 86)" 
    />


</svg>