<style>

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
    
}

img {
  padding: 70px;
//  border: 1px solid #4CAF50;
  left: 10%;
//  top: 50%;
%%  transform: translate(-50%, -50%);
}

</style>
