<style>

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
    
}

img {
  padding: 70px;
//  border: 1px solid #4CAF50;
  left: 10%;
//  top: 50%;
%%  transform: translate(-50%, -50%);
}

</style>

<h2>2 clusters</h2>
<img
  src = "file:///C:/work/temp/img_2.png"
>

<h2>3 clusters</h2>
<img
  src = "file:///C:/work/temp/img_3.png"
>

<h2>4 clusters</h2>
<img
  src = "file:///C:/work/temp/img_4.png"
>

<h2>5 clusters</h2>
<img
  src = "file:///C:/work/temp/img_5.png"
>

<h2>6 clusters</h2>
<img
  src = "file:///C:/work/temp/img_6.png"
>

<h2>7 clusters</h2>
<img
  src = "file:///C:/work/temp/img_7.png"
>

<h2>8 clusters</h2>
<img
  src = "file:///C:/work/temp/img_8.png"
>

<h2>9 clusters</h2>
<img
  src = "file:///C:/work/temp/img_9.png"
>

<h2>10 clusters</h2>
<img
  src = "file:///C:/work/temp/img_10.png"
>

<h2>11 clusters</h2>
<img
  src = "file:///C:/work/temp/img_11.png"
>
